/* General style */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

h2, h3, h4 {
  margin: 0px;
  padding: 10px;
}

p {
  margin: 0;
}

/*Navigation section*/

header{
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  position: fixed;
  border-bottom: 1px solid seashell;
  width: 100%;
  z-index: 5;
}

a {
  color: inherit;
}

.logo{
  height: 50px;
  padding-left: 10px;
}

nav span{
  text-decoration: underline;
  padding: 20px 10px;
}

/*Main section*/

.main {
  padding-top: 69px;
  width: 1200px;
  margin: 0 auto;
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*Mission subsection*/

#mission {
  padding-top: 70px;
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
}

.info {
  background-color: black;
  width: 100%;
}

/*Featured subsection*/

#featured {
  padding-top: 70px;
  width: 1000px;
  height: 700px;
  margin: 0 auto;
}

#featured p{
  font-weight: bold;
}

.item img {
  width: 300px;
  height: 200px;
  margin: 10px
}

.item {
  padding: 5px;
}

/* Locations subsection */

#locations {
  padding-top: 70px;
  height: 500px;
  background-image: url("../images/img-locations-background.jpg");
  flex-direction: column;
}

.location {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 5px 20px;
  padding: 10px;
  background-color: black;
  opacity: 1;
}

.location p {
  margin: 22px 0;
}

/*Contact section*/

.contact {
  height: 200px;
}

/* Footer section */

footer {
  padding-left: 20px;
  text-align: left;
}
